@use "./app/neuronal-workspace/n3-workspace-global.scss" as *;

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  min-height: 100dvh;
}

body {
  font-family: "Segoe UI", system-ui, sans-serif;
}

app-root {
  display: block;
  height: 100%;
  min-height: 100dvh;
}
